<!DOCTYPE html>
<html>
<head>
    <title>ETE Doodle Slideshow</title>

    <link rel="stylesheet" href="/css/slideshow.css"/>

    <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/js/jquery.rs.slideshow.min.js"></script>

    <script type="text/javascript">

        var IMAGE_POLLING_INTERVAL_MS = 2 * 1000;

        var imageSlidesArray = [{url:'/images/ChariotLogo.jpg'}];
        var currSnapshotCount = 0;
        var currImageCounter = 0;

        var $slideshowDiv;

        var snapshotCountCallback = function (data) {
            console.log("Number of snapshots stored = " + data.snapshotCount);
            currSnapshotCount = data.snapshotCount;
        };

        var checkForNewImages = function () {
            console.log("Checking for new images...");

            $.ajax({dataType:'json',url:'/eteDoodle/snapshots/count', success:snapshotCountCallback})
                    .fail(function () { console.log("Failed to retrieve latest image index!")});

            setTimeout(checkForNewImages, IMAGE_POLLING_INTERVAL_MS);
        };

        var addImageToSlideshow = function () {
            console.log("Checking whether to add image to slideshow: currSnapshotCount = " + currSnapshotCount);
            console.log("Curr image counter = " + currImageCounter);
            if (currSnapshotCount > currImageCounter) {
                var slides = [{url: '/eteDoodle/snapshots/' + currImageCounter}];
                $slideshowDiv.rsfSlideshow('addSlides', slides);
                currImageCounter += 1;
            }

            setTimeout(addImageToSlideshow, IMAGE_POLLING_INTERVAL_MS);
        };

        $.support.cors = true;
        $(document).ready(function () {
            $slideshowDiv = $('#slideshow-div');

            $slideshowDiv.rsfSlideshow({
                interval: 3,
                transition: 500,
                effect: {
                    effects: Array('slideLeft', 'slideRight', 'slideUp', 'slideDown', 'fade'),
                    iteration: 'random'
                },
                slides: imageSlidesArray
            });

            setTimeout(checkForNewImages, IMAGE_POLLING_INTERVAL_MS);
            setTimeout(addImageToSlideshow, IMAGE_POLLING_INTERVAL_MS);
        });
    </script>
</head>
<body>
<div id="slideshow-div" class="rs-slideshow">
    <div class="slide-container">
        <img src="images/ChariotLogo.jpg" alt="CHARIOT SOLUTIONS: Practical, Smart Software Development"
             title="CHARIOT SOLUTIONS: Practical, Smart Software Development"/>
    </div>

    <ol class="slides">
    </ol>
</div>
</body>
</html>