<!DOCTYPE html>
<html>
<head>
    <title>ETE Doodle</title>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"/>

    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.10.2.js"></script>

    <script type="text/javascript">

        window.URL = window.URL || window.webkitURL;
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia || navigator.msGetUserMedia;

        var takeSnapshotFromVideo = function (video, canvas, canvasContext) {
            canvasContext.drawImage(video, 0, 0, video.width, video.height);
            var imageData = canvas.toDataURL('image/png');

            // TODO: This call will be moved to when the user clicks "Save" after doodling on image
            $.post('/eteDoodle/saveSnapshot', {imageData: imageData});
        };


        $(document).ready(function () {
            var video = $('#videoCapture')[0];
            var canvas = $('#doodleCanvas')[0];
            var canvasCtx = $('#doodleCanvas')[0].getContext('2d');

            canvasCtx.clearRect(0, 0, canvas.width, canvas.height);

            $('#photoSnapshotDialog').dialog({
                resizable: false,
                modal: true,
                minWidth: 1050,
                minHeight: 794,
                buttons: {
                    "Take photo": function () {
                        takeSnapshotFromVideo(video, canvas, canvasCtx);
                        $(this).dialog('close');
                    }
                }
            });

            function onVideoCaptureError(error) {
                console.log("Video capture error: " + error.code);
            }

            if (navigator.getUserMedia) {
                navigator.getUserMedia({video: true}, function (stream) {
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                }, onVideoCaptureError);
            }
        });
    </script>
</head>
<body>

<div id="doodleApp" style="width: 100%; height: 100%">
    <canvas id="doodleCanvas" width="1024" height="768" style="border: solid 1px;"></canvas>

</div>

<div id="photoSnapshotDialog" title="Smile!" style="width:1050px; height:794px;display:none;">
    <video id="videoCapture" width="1024" height="768" autoplay></video>
</div>

</body>
</html>