.toolPane {
    width:375px;
    height:768px;
    border: solid 2px;
    border-radius:10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    background-color: rgba(116,116,116,0.17);
    float:right;
}

button.actionButton {
    font-family: Roboto, sans-serif;
    /*font-weight: bold;*/
    font-size: 14pt;
    background-color: rgba(116,116,116,0.17);
    border-radius:10px;
}

ul.actionButtonList {
    list-style-type:none;
    margin-left:10px;
    padding-left:0px;
    text-indent:0;
}

ul.paintColorList {
    list-style-type:none;
    margin-left:10px;
    padding-left:0px;
    text-indent:0;
    width:335px;
}

.paintColor {
    margin-bottom:10px;
    width:111px;
    height:111px;
    border-radius: 10px;
    border: solid 3px;
    -webkit-transition: box-shadow 0.25s ease-in-out;
}

.paintColor:hover {
    border-color:black;
}

.backgroundBlack {
    background-color: black;
    border-color:black;
}

.backgroundRed {
    background-color: red;
    border-color:red;
}

.backgroundGreen {
    background-color: green;
    border-color:green;
}

.backgroundBlue {
    background-color: blue;
    border-color:blue;
}

.backgroundYellow {
    background-color: yellow;
    border-color:yellow;
}

.selectedColor {
    box-shadow: 0 0 20px 5px  rgba(204, 0, 255, 1);
}

.leapCursor {
    width:10px;
    height:10px;
    background-color: black;
}